* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #E6F3E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 18px;
  margin-top: 6px;
  color: #263856;
  font-family: 'Quicksand', sans-serif;
}

.selected h2 {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}

.thread1 {
  position: absolute;
  left: 2px;
}

.thread2 {
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 100;
}

.bracket {
  height: 15px;
  width: 55px;
  border-radius: 5px / 10px;
  background: -webkit-linear-gradient(#A07232, #BE924C, #A07232);
  background: linear-gradient(#A07232, #BE924C, #A07232);
  margin: 0 auto;
  box-shadow: 2px 2px 15px #6e838a;
}

#colorPicker {
  display: none;
}

.gridWrap {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #ac9588;
  box-shadow: 2px 2px 15px #6e838a;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.grid > div {
  position: relative;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: solid 1px #d8d6d6;
  background: #f0eeee;
}

.stitch1,
.stitch2 {
  position: absolute;
  width: 33%;
  left: 33%;
  top: -10%;
  height: 0%;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
  border-radius: 1px;
  background: black;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.stitch1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.stitch2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.spools {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colorSpool,
.emptySpool {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.spoolEnd {
  height: 30px;
  width: 70px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#564a44 19%, #ac9588 20%);
  background: radial-gradient(#564a44 19%, #ac9588 20%);
  border-bottom: solid 3px #9a867a;
  z-index: 1;
}

.spoolEnd:after {
  position: absolute;
  content: "";
  height: 30px;
  width: 70px;
  border-radius: 50%;
  background: #ac9588;
  top: 53px;
  border-bottom: solid 3px #9a867a;
}

.colorSpoolBody,
.emptySpoolBody {
  position: relative;
  height: 60px;
  width: 50px;
  background: #ac9588;
  top: -10px;
  box-shadow: 2px 2px 15px #6e838a;
}

.colorSpoolBody {
  background: #639FB0;
}

.colorSpoolBody:after,
.emptySpoolBody:after {
  position: absolute;
  content: '';
  background: inherit;
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  top: 33px;
  z-index: 2;
  border-bottom: solid 3px #9a867a;
}

.emptySpoolClick {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  border: solid 2px black;
  top: 0;
  z-index: 100;
}
